In [1]:
import pandas as pd

ks_ps_2018 = pd.read_csv("../input/kickstarter-projects/ks-projects-201801-for-pandas.csv",
                        index_col='ID',
                        parse_dates=['deadline','launched'])
pd.options.display.float_format = '{:.2f}'.format

In [2]:
ks_ps_2018.describe(include='all')

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
count,378657,378661,378661,378661,378661,378661.00,378661,378661.00,378661,378661.00,378661,374864.00,378661.00,378661.00
unique,375764,159,15,14,3164,nan,378089,nan,6,nan,23,nan,nan,nan
top,New EP/Music Development,Product Design,Film & Video,USD,2014-08-08 00:00:00,nan,1970-01-01 01:00:00,nan,failed,nan,US,nan,nan,nan
freq,41,22314,63585,295365,705,nan,7,nan,197719,nan,292627,nan,nan,nan
first,NaN,NaN,NaN,NaN,2009-05-03 00:00:00,nan,1970-01-01 01:00:00,nan,NaN,nan,NaN,nan,nan,nan
last,NaN,NaN,NaN,NaN,2018-03-03 00:00:00,nan,2018-01-02 15:02:31,nan,NaN,nan,NaN,nan,nan,nan
mean,NaN,NaN,NaN,NaN,NaN,49080.79,NaN,9682.98,NaN,105.62,NaN,7036.73,9058.92,45454.40
std,NaN,NaN,NaN,NaN,NaN,1183391.26,NaN,95636.01,NaN,907.19,NaN,78639.75,90973.34,1152950.06
min,NaN,NaN,NaN,NaN,NaN,0.01,NaN,0.00,NaN,0.00,NaN,0.00,0.00,0.01
25%,NaN,NaN,NaN,NaN,NaN,2000.00,NaN,30.00,NaN,2.00,NaN,16.98,31.00,2000.00
50%,NaN,NaN,NaN,NaN,NaN,5200.00,NaN,620.00,NaN,12.00,NaN,394.72,624.33,5500.00
75%,NaN,NaN,NaN,NaN,NaN,16000.00,NaN,4076.00,NaN,56.00,NaN,3034.09,4050.00,15500.00
max,NaN,NaN,NaN,NaN,NaN,100000000.00,NaN,20338986.27,NaN,219382.00,NaN,20338986.27,20338986.27,166361390.71

In [3]:
# set seed for reproducibility
import numpy as np
np.random.seed(0)

## 2.1. Etiquetas de variables/columnas: no usar caracteres especiales

In [4]:
# helpful character encoding module
import chardet

¿Por qué? Por que aun hay limitaciones para trabajar con estos caracteres.

¿Cúales son los caracteres "normales"?

In [5]:
import string

string.ascii_letters + string.digits

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789'

¿Qué es ASCII? Es una de las primeras codificaciones (o encoding) disponibles. Ver https://en.wikipedia.org/wiki/ASCII

Un encoding es un mapa de caracteres a una representación en bits (por ejemplo 1000001). ASCII es uno de los primeros estandares para interoperatividad entre computadoras (antes cada fabricante de computadora usa su propia codificación), contempla sólo los caracteres ingleses y usa 7 bits, por ejemplo *1000001* codifica el caracter *A*

Cómo sólo representaban los caracteres ingleses, empiezan a aparecer variantes para distintos idiomas, Microsoft hizo los propios para internacionalizar Windows, hubo otro estandar ISO 8859, hasta que llegó el éstandar Unicode que hizo múltiples encodings pero cada uno contempla múltiples idiomas e incluso es extensible a futuro. UTF-8 es de esos encodings el más utilizado. Ver https://en.wikipedia.org/wiki/Unicode

En particular, Python 3 utiliza UTF-8 por defecto (lo que no sucedía en Python 2).

Veamos un ejemplo práctico

In [6]:
# start with a string
before = "This is the euro symbol: €"

# check to see what datatype it is
type(before)

str

In [7]:
# encode it to a different encoding, replacing characters that raise errors
after = before.encode("utf-8", errors = "replace")

# check the type
type(after)

bytes

In [8]:
# take a look at what the bytes look like
after

b'This is the euro symbol: \xe2\x82\xac'

In [9]:
# convert it back to utf-8
print(after.decode("utf-8"))

This is the euro symbol: €

In [10]:
# try to decode our bytes with the ascii encoding
print(after.decode("ascii"))

UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 25: ordinal not in range(128)

In [11]:
# start with a string
before = "This is the euro symbol: €"

# encode it to a different encoding, replacing characters that raise errors
after = before.encode("ascii", errors = "replace")

# convert it back to utf-8
print(after.decode("ascii"))

# We've lost the original underlying byte string! It's been 
# replaced with the underlying byte string for the unknown character :(

This is the euro symbol: ?

Este error ya lo vimos...

In [12]:
kickstarter_2016 = pd.read_csv("../input/kickstarter-projects/ks-projects-201612.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x99 in position 11: invalid start byte

El error `UnicodeDecodeError` nos indica que el archivo no estaría en Unicode. Si no está en algún metadato o no fue indicado es dificil detectar el encoding, por suerte hay un paquete para esto en Python, que aplica unas heurísticas para detectar encoding.

In [13]:
# look at the first ten thousand bytes to guess the character encoding
with open("../input/kickstarter-projects/ks-projects-201612.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))

# check what the character encoding might be
print(result)

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

Entonces le podemos indicar el encoding al leer el archivos

In [14]:
# read in the file with the encoding detected by chardet
kickstarter_2016 = pd.read_csv("../input/kickstarter-projects/ks-projects-201612.csv", encoding='Windows-1252')

# look at the first few lines
kickstarter_2016.head()

/opt/anaconda/3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,nan
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,nan
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,nan
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,nan
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,nan

Otro módulo para arregar problemas de [mojibake](https://en.wikipedia.org/wiki/Mojibake) al leer UTF-8 es [ftfy](https://ftfy.readthedocs.io/en/latest/). 

Ejemplo de mojibake:

In [15]:
"cigueña".encode('utf-8').decode('iso-8859-1')

'cigueÃ±a'

Veamos de cerca los nombres más raros que tenemos

In [16]:
import ftfy.badness as bad

In [17]:
def weird(val):
    if isinstance(val, float): 
        return 0
    return bad.sequence_weirdness(val)


ks_ps_2018['name_weirdness'] = ks_ps_2018['name'].apply(weird)
ks_ps_2018[ks_ps_2018['name_weirdness'] > 1]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,name_weirdness
ID,,,,,,,,,,,,,,,
1221990593,Support PMCD´s ¨From a Different Clay¨,Dance,Dance,USD,2011-06-08,1500.00,2011-04-28 05:15:32,1940.00,successful,27,US,1940.00,1940.00,1500.00,3
1234089244,Cracking (Mastering) the Metaphor (Political)...,Nonfiction,Publishing,USD,2013-10-27,30000.00,2013-09-27 23:33:29,0.00,failed,0,US,0.00,0.00,30000.00,2
124795481,µGALE (Canceled),Wearables,Technology,EUR,2015-04-17,18000.00,2015-02-16 01:55:34,10.00,canceled,2,NL,11.39,10.81,19465.14,2
1468489999,µCurrent GOLD - Precision Multimeter Current A...,Hardware,Technology,AUD,2013-12-31,9900.00,2013-12-17 10:28:09,116575.17,successful,1268,AU,104343.69,104871.51,8906.08,2
1610503461,µPeek - The Professional Microscope that Fits ...,Technology,Technology,CHF,2016-01-09,125000.00,2015-12-10 10:08:18,247688.14,successful,1435,CH,249249.19,246848.85,124576.44,2
16174550,PARALELO 19 Nº,Photography,Photography,MXN,2017-04-15,15000.00,2017-03-01 00:00:24,3340.00,failed,8,MX,0.00,177.36,796.52,2
1719215256,Kickstarter Gold: Manual Coffeemaker Nº3,Product Design,Design,USD,2017-07-22,60000.00,2017-06-20 15:29:56,68587.33,successful,618,US,21002.00,68587.33,60000.00,2
1837094178,¨Midgard's taigh-seinnse/ Eröffnung Mittelalte...,Restaurants,Food,CHF,2016-09-29,50000.00,2016-08-30 09:36:42,150.00,failed,1,CH,0.00,153.93,51310.47,2
2056123754,ZEIº - the most simple time tracking solution,Technology,Technology,EUR,2016-10-26,75000.00,2016-09-20 15:54:49,313637.00,successful,3140,AT,9451.58,342555.54,81915.29,2
2068157547,Ballet Folklorico Infantil de la Universidad ...,Art,Art,MXN,2017-04-03,40000.00,2017-03-22 16:33:33,42480.00,successful,38,MX,532.09,2263.79,2131.63,2
2096648634,Funky City : a funky rpg,Video Games,Games,USD,2017-04-08,5000.00,2017-03-09 04:05:15,0.00,failed,0,US,0.00,0.00,5000.00,2
2102265118,Music Album ¨Dreams¨ Uplifting Tunes with Rap,Hip-Hop,Music,EUR,2017-12-24,28000.00,2017-11-24 12:49:09,0.00,failed,0,NL,0.00,0.00,33580.39,4
237780030,Solderdoodle Pro: Over 700ºF USB Rechargeable ...,DIY Electronics,Technology,USD,2014-08-19,37800.00,2014-07-29 16:52:31,15636.00,failed,318,US,15636.00,15636.00,37800.00,2
383244441,Virtual Roller Coaster in 4th Dimension,Makerspaces,Technology,MXN,2017-02-25,459900.00,2017-02-01 00:07:38,0.00,failed,0,MX,0.00,0.00,23399.82,2
458626388,Solderdoodle Pro: 700ºF USB Rechargeable Solde...,DIY Electronics,Technology,USD,2014-09-24,11400.00,2014-08-19 16:55:05,22565.00,successful,409,US,22565.00,22565.00,11400.00,2
466898065,Manual Tea Maker Nº1,Product Design,Design,USD,2016-08-20,40000.00,2016-07-18 04:25:44,67767.00,successful,1111,US,5534.00,67767.00,40000.00,2
516833776,µTracker - extremly Power Saving GPS + GSM Board,Hardware,Technology,EUR,2016-12-09,89000.00,2016-11-18 09:13:12,2032.00,failed,22,AT,546.70,2145.59,93975.04,2
549309727,Higher Grounds Coffee Company Mobile Coffee Tr...,Food Trucks,Food,USD,2018-01-12,10000.00,2017-12-07 16:07:54,4882.00,live,36,US,542.00,4882.00,10000.00,2
551994337,?? cybertwee ?? ¨*:·. bake sale on the deep we...,Digital Art,Art,USD,2015-09-18,100.00,2015-09-14 04:14:05,347.00,successful,66,US,347.00,347.00,100.00,2
558638957,Mµ Magazine,Zines,Publishing,CAD,2016-12-02,5000.00,2016-11-01 23:37:22,0.00,failed,0,CA,0.00,0.00,3758.55,2
718763713,"Not Twins - New EP! ""The View from Down Here""",Indie Rock,Music,USD,2017-03-27,3500.00,2017-02-26 18:34:59,4726.61,successful,171,US,1758.41,4726.61,3500.00,2
805839986,µRuler - Measure size in the micro-world under...,Technology,Technology,CAD,2017-04-07,2000.00,2017-03-08 03:42:19,5523.00,successful,213,CA,623.34,4118.26,1491.31,2
900880068,Newton ¨El Veterano¨,Music,Music,EUR,2016-12-10,2747.00,2016-10-31 21:24:36,838.00,failed,36,ES,0.00,874.78,2867.58,4
960506632,Degreesº to Extinction,Documentary,Film & Video,USD,2016-12-21,30000.00,2016-12-06 00:26:54,30.00,failed,2,US,5.00,30.00,30000.00,2
963442008,theNewerYork Lit Mag: We M?§§ w/ Yoµr H£åd,Periodicals,Publishing,USD,2012-03-25,7000.00,2012-01-30 19:01:35,9892.49,successful,228,US,9892.49,9892.49,7000.00,2
98169605,µTøøl - The Ultimate pocket tool! Credit card ...,Technology,Technology,NZD,2016-01-01,20000.00,2015-12-02 06:04:57,2230.00,failed,83,NZ,1477.51,1472.34,13204.81,2

Volviendo a la consigna original, chequeamos que no haya caracteres fuera de a-Z, 0-9 y _ en los nombres de columnas

In [18]:
ks_ps_2018.columns[ks_ps_2018.columns != ks_ps_2018.columns.str.extract(r'^(\w+)$')]

/opt/anaconda/3/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

Index(['usd pledged'], dtype='object')

In [19]:
ks_ps_2018.usd_pledged.head()

AttributeError: 'DataFrame' object has no attribute 'usd_pledged'

In [ ]:
ks_ps_2018.columns = ks_ps_2018.columns.str.replace(' ', '_')
ks_ps_2018.head()

In [ ]:
ks_ps_2018.usd_pledged.head()

## 2.2. Tratar valores faltantes

Veamos cuantos valores nulos tenemos

In [ ]:
# get the number of missing data points per column
missing_values_count = ks_ps_2018.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count[missing_values_count > 0]

In [20]:
len(ks_ps_2018.dropna())/len(ks_ps_2018)

0.9899619976707398

In [21]:
len(ks_ps_2018.dropna(subset=['name']))/len(ks_ps_2018)

0.9999894364616372

In [22]:
ks_ps_2018[ks_ps_2018.name.isnull()]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,name_weirdness
ID,,,,,,,,,,,,,,,
1848699072,NaN,Narrative Film,Film & Video,USD,2012-02-29,200000.00,2012-01-01 12:35:31,100.00,failed,1,US,100.00,100.00,200000.00,0
634871725,NaN,Video Games,Games,GBP,2013-01-06,2000.00,2012-12-19 23:57:48,196.00,failed,12,GB,317.73,316.05,3224.97,0
648853978,NaN,Product Design,Design,USD,2016-07-18,2500.00,2016-06-18 05:01:47,0.00,suspended,0,US,0.00,0.00,2500.00,0
796533179,NaN,Painting,Art,USD,2011-12-05,35000.00,2011-11-06 23:55:55,220.00,failed,5,US,220.00,220.00,35000.00,0

In [23]:
ks_ps_2018 = ks_ps_2018.dropna(subset=['name'])

In [24]:
missing_values_count = ks_ps_2018.isnull().sum()
missing_values_count[missing_values_count > 0]

usd pledged    3797
dtype: int64

In [25]:
ks_ps_2018[ks_ps_2018.usd_pledged.isnull()]

AttributeError: 'DataFrame' object has no attribute 'usd_pledged'

In [26]:
ks_ps_2018[ks_ps_2018.usd_pledged.isnull()].describe(include='all')

AttributeError: 'DataFrame' object has no attribute 'usd_pledged'

In [27]:
ks_ps_2018[(ks_ps_2018.country == 'N,0"') & ~(ks_ps_2018.usd_pledged.isnull())].head()

AttributeError: 'DataFrame' object has no attribute 'usd_pledged'

In [ ]:
ks_ps_2018 = ks_ps_2018.fillna(0)
missing_values_count = ks_ps_2018.isnull().sum()
missing_values_count[missing_values_count > 0]

Más métodos disponibles en https://pandas.pydata.org/pandas-docs/stable/api.html#api-dataframe-missing y http://scikit-learn.org/stable/modules/classes.html#module-sklearn.preprocessing

## 2.3. Codificar variables

Las variables categóricas deben ser etiquetadas como variables numéricas, no como cadenas

In [ ]:
from sklearn import preprocessing

In [ ]:
ks_ps_2018.describe(include=['O'])

In [ ]:
column='main_category'
# Create a label (category) encoder object
le = preprocessing.LabelEncoder()
# Fit the encoder to the pandas column
le.fit(ks_ps_2018[column])

In [ ]:
# View encoder mapping
dict(zip(le.classes_,le.transform(le.classes_)))

In [ ]:
# Apply the fitted encoder to the pandas column
ks_ps_2018[column] = le.transform(ks_ps_2018[column]) 
ks_ps_2018.head()

In [ ]:
# Reversing encoding
ks_ps_2018[column] = le.inverse_transform(ks_ps_2018[column]) 
ks_ps_2018.head()

In [ ]:
from sklearn.preprocessing import LabelBinarizer
other_column = 'state'

lb = LabelBinarizer()

lb_results = lb.fit_transform(ks_ps_2018[other_column])
pd.DataFrame(lb_results, columns=((other_column + '_') + pd.Series(lb.classes_))).head(10)

More about preprocessing in http://scikit-learn.org/stable/modules/classes.html#module-sklearn.preprocessing

## 2.4. No cambiar los nombres de las variables de la fuente de origen

## 2.5. Verificar la consistencia de las variables
Aplicar reglas de integridad

In [ ]:
ks_ps_2018.head()

¿Hay proyectos sin patrocinadores pero con plata prometida?

In [ ]:
ks_ps_2018[(ks_ps_2018.backers == 0) & (ks_ps_2018.usd_pledged > 0)]

¿Hay proyecto no exitosos que pasaron el objetivo?

In [ ]:
ks_ps_2018[(ks_ps_2018.state != 'successful') & (ks_ps_2018.pledged > ks_ps_2018.goal)]

¿Cómo es, en promedio, la correlación entre el objetivo y la plata obtenida?

In [ ]:
ks_ps_2018.groupby('state')[['goal','pledged']].aggregate('mean')

¿Cuánta plata se obtiene en promedio por estado y categoría?

In [ ]:
ks_ps_2018.pivot_table(values='usd_pledged',index='state',columns='main_category')

In [ ]:
ks_pivot = ks_ps_2018.pivot_table(values='usd_pledged',index='main_category',columns='state',aggfunc='count')
ks_pivot

In [ ]:
ks_pivot.reindex(ks_pivot.sort_values(by='successful',ascending=False).index)

## 2.6. Identificar y documentar valores atípicos/outliers

Veamos...

In [ ]:
%matplotlib inline
ks_ps_2018.usd_pledged_real.hist()

In [ ]:
ks_ps_2018.boxplot(column='usd_pledged')

"There are many rules of thumb for how to define an outlier but there is no silver bullet. One rule of thumb is that any data point that is three standard deviations away from the mean of the same data point for all observations."

In [ ]:
outliers = ks_ps_2018[ks_ps_2018.usd_pledged > (ks_ps_2018.usd_pledged.mean() + 3 * ks_ps_2018.usd_pledged.std())]
outliers

In [ ]:
ks_ps_2018.boxplot(column='usd_pledged_real',by='state')

In [ ]:
ks_ps_2018.boxplot(column='usd_goal_real',by='state')

In [ ]:
ks_ps_2018.drop(outliers.index).boxplot(column='usd_pledged_real',by='state')

## 2.7. Evaluar cómo comprimir los datos 
para su almacenamiento más eficiente.

En la actualidad, en las nubes el almacenamiento no suele ser problema sino la velocidad para leerlo que suele ser determinante a la hora de determinar el formato de almacenamiento.

## 2.8. Guardar el set de datos con un nombre informativo.

EL problema de la ingeniería de software